<template>
    <div>
        <news-item>
            <h1 slot="title">Top Headlines News</h1>
        </news-item>
    </div>
</template>

<script>

import NewsItem from '../components/NewsItem.vue'

export default {
  name: 'news',
  components: {
    NewsItem
  }
}
</script>
