<template>
    <div>
        <slot name="title"></slot>
        <div class="berita" v-for="(article, index) in news" :key="index" v-bind:class="{newsStyle : showStyle}">
            <img :src="article.urlToImage" alt="">
            <h4>{{article.title}}</h4>
            <p>{{article.description}} <a :href="article.url">Read More</a></p>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
export default {
  name: 'NewsItem',
  data () {
    return {
      news: null,
      showStyle: true
    }
  },
  created () {
    axios.get('https://newsapi.org/v2/top-headlines?country=id&apiKey=50297d9b861349b2ad9a050640d6482f')
      .then((response) => { this.news = response.data.articles })
  }
}
</script>

<style scoped>
.newsStyle{
    width: 90%;
    text-align: left;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 20px;
    margin-left: 3%;
}
.newsStyle img{
    max-width: 200px;
}
</style>
